{{> admin_bar active="flags"}}

<ul>
    <li>{{{flag "groupRegistration" flags}}} - Permits or disables group registration.</li>
    <li>{{{flag "memberRegistration" flags}}} - Permits or disables member registration.</li>
    <li>{{{flag "exhibitorRegistration" flags}}} - Permits or disables exhibitor registration.</li>
    <li>{{{flag "facilitatorRegistration" flags}}} - Permits or disables facilitator registration.</li>
    <li>{{{flag "volunteerRegistration" flags}}} - Permits or disables volunteer registration.</li>
    <li>{{{flag "Nothing" flags}}} - This flag does nothing -- Okay not actually. Are you brave enough to touch it?</li>
</ul>

{{#if flags.Nothing}}
    <h1>You touched it!!!!</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qmxFAT581T4?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
{{/if}}
