{{> admin_bar active="images"}}

{{> forms/image flags=flags}}

<h1>Image List</h1>
<p>To use an image find its keyword and do <pre>\{{img "" "keyword"}}</pre></p>
<div class="row">
    {{#each files}}
    	<div class="col-sm-3">
            <a href="/api/image/{{this}}.jpg"><img src="/api/image/{{this}}.jpg" style="max-width: 100%; max-height: 100%"></a>
            <div>
                <p class="pull-left">{{this}}</p>
                <form class="pull-right" action="/api/image/{{this}}" method="POST">
                    <input style="display: none;" name="_method" value="DELETE">
                    <button class="btn btn-xs btn-danger" onclick="return confirm('Are you sure?')"><i class="fa fa-fw fa-times"></i></button>
                </form>
            </div>
        </div>
    {{/each}}
</div>
