{{> admin_bar active="statistics"}}

<pre>
{{{JSON stats 2}}}
</pre>

<div>
    <h1>Account Demographics</h1>

    <div id="account-province"></div>

</div>
<div>
    <h1>Group Demographics</h1>

    <div id="group-affiliation"></div>


    <div id="group-size"></div>

    <h3>Youth In Care Numbers</h3>
    (Pie of seats used / Seats Avail)

</div>

<div>
    <h1>Member Demographics</h1>

    <div id="member-type"></div>

    <h3>Ancestral Background</h3>
    <p><emph>(This is an optional field.)</emph></p>
    (Pie?)

    <h3>Gender</h3>
    (Pie)

    <h3>Age</h3>
    (Maybe???)

    <h3>Over Time</h3>
    (Linegraph)
</div>


<script>
    // Simple utility function.
    function range(a,b,c,d){d=[];c=b-a+1;while(c--){d[c]=b--}return d}

    $(function () {
        var account_province = {{{JSON stats.account_province 0}}};
        $('#account-province').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Province of Origin'
            },
            series: [{
                name: "Affiliation",
                data: account_province,
            }]
        });

        var group_type = {{{JSON stats.group_type 0}}};
        $('#group-affiliation').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Affiliation Type'
            },
            series: [{
                data: group_type
            }],
        });

        var group_size = {{{JSON stats.group_size 0}}};
        var group_size_categories = range(0, group_size.length);
        $('#group-size').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Group Size'
            },
            plotOptions: {
                columns: {
                    groupPadding: 0,
                    pointPadding: 0,
                    borderWidth: 0,
                },
            },
            yAxis: {
                min: 0,
                title: {
                    text: "Occurences",
                },
            },
            xAxis: {
                categories: group_size_categories,
            },
            series: [{
                data: group_size
            }],
        });

        var member_type = {{{JSON stats.member_type 0}}};
        $('#member-type').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Member Types'
            },
            series: [{
                name: "Types",
                data: member_type,
            }]
        });

    });

</script>
