{{#each workshops}}

    <div class="workshop row" style="page-break-after: always;">
        <div class="col-sm-12">
            <h3>{{title}}</h3>
            <p>Hosted By: <strong>{{facilitators}}</strong></p>
            <p>Affiliation: <strong>{{Account.affiliation}}</strong></p>
        </div>

        <div class="col-sm-12 description">
            <h4>Description</h4>
            <p>{{{description}}}</p>
        </div>

        <div class="col-sm-12 biography">
            <h4>Biography</h4>
            <p>{{{biography}}}</p>
        </div>

        <div class="col-sm-12 interaction">
            <h4>Interaction Level</h4>
            <p>{{{interactionLevel}}}</p>
        </div>

        <div class="col-sm-3 synopsis">
            <h4>Synopsis</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <strong>Length:</strong>
                        </td><td>
                            {{length}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Audience:</strong>
                        </td><td>
                            {{#each audience}}
                                {{this}}<br>
                            {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Capacity:</strong>
                        </td><td>
                            {{capacity}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Type:</strong>
                        </td><td>
                            {{#each type}}
                                {{this}}<br>
                            {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Room:</strong>
                        </td><td>
                            {{room}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="sessions col-sm-6">
            <h4>Sessions</h4>
            {{#each Sessions}}
                <div>
                    <strong>Start:</strong> {{datetime start}}
                    <br>
                    <strong>End:</strong> {{time end}}
                    <br>
                    <strong>Room:</strong> {{room}}
                    <br>
                    <strong>Venue:</strong> {{venue}}
                    <br>
                    <strong>Capacity:</strong> {{capacity}}
                    <hr>
                </div>
            {{/each}}
        </div>

    </div>

{{/each}}
