{{#each workshops}}

    <div class="workshop row" style="page-break-after: always;">

        <div class="col-sm-12">
            <div class="text-center">
                <h2>CONTRACT FOR SERVICE</h2>
                <p>THIS AGREEMENT made the _____ day of _______, ____.</p>
                <p>BETWEEN:</p>
                <p><strong>The B.C. Assosication of Aboriginal Friendship Centres (BCAAFC)</strong></p>
                <p><strong>551 Chatham Street, Victoria, BC V8T 1E1</strong></p>

                <p><strong>AND</strong></p>

                <p><strong>{{Account.name}}, {{Account.phone}}</strong></p>
                <p><strong>{{Account.address}}, {{Account.city}}, {{Account.province}}</strong></p>
                <p><strong>hereinafter referred to as the "Facilitator"</strong></p>
            </div>

            <div>
                This document will constitute an agreement between the Parties listed above. The Parties agree to the following:
            </div>

            <ol>
                <li>
                    <strong>Purpose</strong>
                    <ol>
                        <li>This contract is for facilitation services for the Gathering Our Voices Aboriginal Youth Conference being held in Prince George, BC from March 17-20, 2015, hereinafter referred to as “the Event”.</li>
                    </ol>
                </li>

                <li>
                    <strong>Term</strong>
                    <ol>
                        <li>This contract takes effect as dated above and ends on March 19, 2015.</li>
                    </ol>
                </li>

                <li>
                    <strong>Accountability and Authority</strong>
                    <ol>
                        <li>The BCAAFC authorized manager under this con shall be Carl Mashon, General Manager.</li>
                        <li>The contract holder for the facilitation services shall be {{Account.name}},</li>
                        <li>The BCAAFC primary contact for direction for this contract shall be Greg Forsberg, Workshop and Logistics Coordinator.</li>
                    </ol>
                </li>

                <li>
                    <strong>The Contractor agrees to:</strong>
                    <ol>
                        <li>Provide the workshop as outlined in the attached Appendix “A”, during the following session(s) of the Event:</li>
                        <li>Conduct their performance in an appropriate manner, including, but not limited to: creating a safe environment for participants, conducting themselves from a place of respect, and ensuring workshop content is provided in a meaningful and relevant manner within the allotted timeframe.</li>
                        <li>Arrive fifteen (15) minutes prior to the scheduled times stated above for the contracted workshop.  Further, the Contractor agrees that by arriving late to any of the scheduled workshops, he/she will forfeit 15% of the overall agreed upon total compensation.</li>
                        <li>Register any youth aged 14-24, attending the Event with the Contractor, as a regular Event participant and pay the associated registration fees, if they wish this youth to attend any activities associated to the Event, such as opening ceremonies, the dance, entertainment, etc.</li>
                        <li>Arrange childcare for the duration of the Contractor’s facilitation duties, at a separate location from the workshop being facilitated, for any children that are traveling to the Event with the Contractor are not registered participants of the Event, so the Contractor is free to fulfill facilitation duties as outlined in Appendix “A”.</li>
                        <li>Obtain and submit to the Event host (prior to the event) a clean criminal record check for all facilitators.</li>
                    </ol>
                </li>

                <li>
                    <strong>The BCAAFC agrees to:</strong>
                    <ol>
                        <li>Pay a total fixed contract fee of  representing the following expenses:
                            <ol>
                                <li>Contractor fees will be provided in the amount of $</li>
                                <li>Travel per diem will be provided in the amount of $</li>
                                <li>Meal per diem will be provided in the amount of $</li>
                            </ol>
                        </li>
                        <li>Pay the above fees directly to the Contractor upon completion of the final workshop except where clause 4.3 applies and a reduced payment must be issued.  Reduced payments will be mailed to the Contractor by March 30, 2015.</li>
                        <li>
                            Pay directly hotel parking and accommodations at the Fairmont Hotel Vancouver in Vancouver, BC.  BCAAFC will not be responsible for any room costs/incidentals incurred by the Contractor over and above the hotel room rate and applicable taxes. The following room(s) will be booked:
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Room Type</th>
                                        <th>Occupant Name(s)</th>
                                        <th>Arrival Date</th>
                                        <th>Departure Date</th>
                                        <th>Parking</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each facilitators}}
                                        <tr>
                                            <td></td>
                                            <td>{{this}}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </li>
                        <li>Pay any other parking costs directly related to facilitation activities at the Event, upon submission by the Contractor of original parking receipts by no later than March 20, 2015.</li>
                    </ol>
                </li>

                <li>
                    <strong>Travel Policy</strong>
                    <ol>
                        <li>The Contractor is responsible for all incurred costs related to missed flights, either from their departure airport or return flight from Vancouver.</li>
                        <li>The Contractor is responsible for all incurred costs related to changed flight itineraries.</li>
                    </ol>
                </li>

                <li>
                    <strong>Cancellations</strong>
                    <ol>
                        <li>Should the Contractor need to cancel this agreement, she/he is required to inform the BCAAFC on or before March 1, 2015 so that the BCAAFC can seek a replacement for the Event.  Failure to cancel prior to the stated date will result in the Contractor’s ineligibility for future engagement with the Event.</li>
                    </ol>
                </li>

                <li>
                    <strong>General Provisions</strong>
                    <ol>
                        <li>This Agreement shall be governed by and shall be construed in accordance with the laws of the Province of British Columbia.</li>
                        <li>The Contractor is engaged as an independent contractor for the sole purpose of providing a service.  Neither the Contractor nor any of the Contractor's personnel is engaged as an employee, servant, or agent of the BCAAFC.</li>
                        <li>The Contractor agrees to be solely responsible for any and all payments or deductions to be made for its employees and agents or Income Tax.  And the Contractor agrees to indemnify the other contracting parties and to hold them harmless against any claims, losses, suits, demands, or penalties that may be incurred for failure of the Contractor to perform this obligation.</li>
                        <li>No waiver or any provision of this Agreement shall be deemed, or shall constitute, a waiver of any other provisions, whether or not similar, nor shall any waiver constitute a continuing waiver after the Event.  No waiver shall be binding unless executed in writing by the party making the waiver.</li>
                        <li>Information obtained, including names, phone numbers and emails, in any way about a delegate of the Conference (or their families) is deemed to be strictly confidential.  Such information may be shared only with other employees who have an operational requirement for the information. A facilitator or exhibitor who, for any reason, deliberately accesses confidential information not needed for performing their job has breached confidentiality, whether they disclose it or not. Information collected must be shred disposed immediately after the Event or given to the BCAAFC for shredding and disposal.</li>
                        <li>This Agreement constitutes the entire agreement between the parties pertaining to its subject matter and it supersedes all prior contemporaneous agreements, representations and understandings of the parties.  No supplement, modification or amendment of this Agreement shall be binding unless executed in writing and signed by all parties.</li>
                    </ol>
                </li>
            </ol>

            <p>
                <strong>Duly authorized signatories:</strong>
                <div class="row">
                    <div class="col-xs-6">
                        <br><br><br>
                        ________________________________
                        <br>
                        Carl Mashon, General Manager
                        <br>
                        BC Association of Aboriginal Friendship Centres
                    </div>
                    <div class="col-xs-6">
                        <br><br><br>
                        ________________________________
                        <br>
                        Date
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <br><br><br>
                        ________________________________
                        <br>
                        {{Account.name}}
                        <br>
                        {{Account.affiliation}}
                    </div>
                    <div class="col-xs-6">
                        <br><br><br>
                        ________________________________
                        <br>
                        Date
                    </div>
                </div>
        </div>
        <div class="appendix">
            <h2>Appendix</h2>
            <p>{{description}}</p>
        </div>
    </div>

{{/each}}
