{{#markdown}}
### General Exhibitor Information

* **Exhibitor Registration Fee:** ${{@config.prices.exhibitor}} per table, 2 days, March 22nd and 23rd, 8:30 am – 5:00 pm.
* Preferred method of payment is by cheque payable to BCAAFC and mailed to: 551 Chatham Street, Victoria, BC  V8T 1E1. For more info hit "Account" in the top navigtion bar and hit the "Pay Fees" button.
* Each booth will be provided with one 6’ skirted table and two chairs. Limit one booth per organization.
* All exhibitors are responsible for their own meals, refreshments and shipping their own materials.
* Potential Exhibitor will be contacted to confirm their acceptance. You will also receive a confirmation email that you submitted an application. Be sure you receive that in your inbox or spam. If you did not please call Della, 250-388-5522 ext. 210 to confirm we received your application.
* The deadline for applying is **{{@config.deadlines.exhibitor}}**. Applications after will not be accepted.
* You will be required to fulfill a Criminal Record Check using <a target='blank' href='https://justice.gov.bc.ca/eCRC/'>this link</a> and access code `2LMZZ4EHQ6` for **all representatives**. Please email us [govcoordinator@bcaafc.com](mailto:govcoordinator@bcaafc.com) your **full, legal names** when done.
{{/markdown}}

{{#if account.Exhibitor.approved}}
  <div class="alert alert-success">
    {{#markdown}}
    Your exhibitor table has been approved by our staff! Congratulations!

    At this time you are no longer able to modify your exhibitor details.
    If you require any changes please contact us. A staff member can
    change them for you.
    {{/markdown}}
  </div>

  {{#if admin}}
    {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
  {{/if}}
{{else if account.Exhibitor.verified}}
  <div class="alert alert-warning">
    {{#markdown}}
    Your exhibitor table has been verified by our staff! This means that
    your information is confirmed and we've placed you into our selection
    process.
    <br>
    At this time you are no longer able to modify your exhibitor details.
    If you require any changes please contact us. A staff member can
    change them for you.
    {{/markdown}}
  </div>

  {{#if admin}}
    {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
  {{/if}}
{{else unless flags.exhibitorRegistration}}
  <div class="alert alert-danger">
    {{#markdown}}
    Unfortunately exhibitor registration is closed. Perhaps next year?
    {{/markdown}}
  </div>

  {{#if admin}}
    {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
  {{/if}}
{{else}}
  {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
{{/if}}
