{{#markdown}}
### General Exhibitor Information
 
  1. Exhibitor Applications close {{date @config.deadlines.exhibitor}}.
  2. Exhibitor Registration Fee: ${{@config.prices.exhibitor}} per table, March 22 and March 23 from 8:30 am – 5:00 pm. Payment due upon approval.
  3. To Register please visit the home page and click the large blue button that says Register Now or Apply to Facilitate, Volunteer or Exhibit!
  4. Preferred method of payment is by cheque payable to BCAAFC and mailed to: Attn: Gathering Our Voices 551 Chatham Street, Victoria, BC  V8T 1E1.
  5. Each booth will be provided with one 6’ skirted table and two chairs.
  6. All Exhibitors are required to provide proof of application or provide a current copy of Criminal Record Check with vulnerable sector check by November 30, 2016.
  7. Link to [Online CRC](https://justice.gov.bc.ca/eCRC/) Access Code: 2LMZZ4EHQ6
  8. All Exhibitors are responsible for their own meals, refreshments and shipping their own materials.
  9. You will receive a confirmation email that you submitted an application. Be sure you receive that in your inbox or spam. If you did not please call Della at 250-388-5522 ext. 210 to confirm we received your application.
  10. Exhibitors will be informed if they are chosen via email by December 9, 2016.
  11. Once selceted exhibitors will be provided with an agreement outline shipping instruction, loading and unloading guidelines onsite etc.

{{/markdown}}

{{#if account.Exhibitor.approved}}
  <div class="alert alert-success">
    {{#markdown}}
    Your exhibitor table has been approved by our staff! Congratulations!

    At this time you are no longer able to modify your exhibitor details.
    If you require any changes please contact us. A staff member can
    change them for you.
    {{/markdown}}
  </div>

  {{#if admin}}
    {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
  {{/if}}
{{else if account.Exhibitor.verified}}
  <div class="alert alert-warning">
    {{#markdown}}
    Your exhibitor table has been verified by our staff! This means that
    your information is confirmed and we've placed you into our selection
    process.
    <br>
    At this time you are no longer able to modify your exhibitor details.
    If you require any changes please contact us. A staff member can
    change them for you.
    {{/markdown}}
  </div>

  {{#if admin}}
    {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
  {{/if}}
{{else unless flags.exhibitorRegistration}}
  <div class="alert alert-danger">
    {{#markdown}}
    Unfortunately exhibitor registration is closed. Perhaps next year?
    {{/markdown}}
  </div>

  {{#if admin}}
    {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
  {{/if}}
{{else}}
  {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
{{/if}}
