{{#if account.Group}}
    <h3>Manage Group Members</h3>

    {{#if notEnoughChaperones}}
        <div class="alert alert-warning">
            Your group is unbalanced! For every 5 "Youth" (14-17yrs) in your
            group you must have at least one "Chaperone" or "Young Chaperone."
        </div>
    {{/if}}

    <table class="table">
        <thead>
            <tr><th>Complete</th><th>Name</th><th>Type</th><th>Cost</th><th></th></tr>
        </thead>
        <tbody>
            {{#each account.Group.Members}}
                <tr class="{{#if this.complete}}success{{else}}warning{{/if}}">
                    {{#if this.complete}}
                        <td><span class="label label-success"><i class="fa fa-fw fa-check"></i></span></td>
                    {{else}}
                        <td><span class="label label-warning"><i class="fa fa-fw fa-times"></i></span></td>
                    {{/if}}
                    <td>{{this.name}}</td>
                    <td>{{this.type}}</td>
                    <td>${{this.cost}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="/account/group/member/{{this.id}}" class="btn btn-xs btn-default"><i class="fa fa-fw fa-edit"></i>Edit & Workshops</a>
                            {{!-- <a href="/account/group/member/{{this.id}}" class="btn btn-xs btn-default"><i class="fa fa-fw fa-th-list"></i>Workshops</a> --}}
                            <a href="/api/member/delete/{{this.id}}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure?')"><i class="fa fa-fw fa-trash"></i>Delete</a>
                        </div>
                     </td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td><strong>Youths:</strong> {{{count set=account.Group.Members field="type" value="Youth"}}}</td>
                <td><strong>Young Adults:</strong> {{{count set=account.Group.Members field="type" value="Young Adult"}}}</td>
                <td colspan=2><strong>Young Chaperones:</strong> {{{count set=account.Group.Members field="type" value="Young Chaperone"}}}</td>
                <td><strong>Chaperones:</strong> {{{count set=account.Group.Members field="type" value="Chaperone"}}}</td>
            </tr>
            <tr>
                <td colspan=5>
                    {{#if flags.memberRegistration}}
                        <a href="/account/group/member/" class="btn btn-success btn btn-block">
                            <i class="fa fa-fw fa-plus"></i>
                            Add Member
                       	</a>
                    {{else}}
                        <div class="alert alert-danger">
                            Unfortunately member registration is closed. Perhaps next year?
                        </div>
                    {{/if}}
                </td>
            </tr>
        </tfoot>
    </table>
    {{> forms/group group=account.Group flags=flags}}
{{/if}}

{{#unless flags.groupRegistration}}
    <div class="alert alert-danger">
        Unfortunately group registration is closed. Perhaps next year?
    </div>
{{else unless account.Group}}
    {{> forms/group group=account.Group flags=flags}}
{{/unless}}
