{{#if member}}
  <div class="visible-print-block">
    <h2>{{member.name}}</h2>
  </div>

  <div class="hidden-print pull-right">
    <a class="btn btn-info" onclick="window.print();">
      <i class="fa fa-print"></i>
      Print Workshops
    </a>
  </div>
  {{#if member.complete}}
      <h3>Workshops</h3>
      <table class="table">
        <thead>
          <th>Title</th>
          <th>Start</th>
          <th>End</th>
          <th>Room</th>
          <th>Venue</th>
          <th>Actions</th>
        </thead>
        <tbody>
            {{#each member.Sessions}}
              <tr>
                  <td><a href="/workshops/{{Workshop.id}}">{{Workshop.title}}</a></td>
                  <td>{{datetime start}}</td>
                  <td>{{time end}}</td>
                  <td>{{room}}</td>
                  <td>{{venue}}</td>
                  <td>
                    <a class="btn btn-xs btn-danger" href="/api/session/{{../member.id}}/remove/{{id}}" onclick="return confirm('Are you sure?')">
                      <i class="fa fa-fw fa-trash"></i>
                    </a>
                  </td>
              </tr>
            {{/each}}
        </tbody>
      </table>
      {{#if member.complete}}
        {{#if member.email}}
          <p>
            Since this member is complete and has an email attached you can share their secret code with them to allow them to express interest in workshops by visiting the "Workshops" page. Their code is <code>{{member.secret}}</code> and their email is <code>{{member.email}}</code>.
          </p>
        {{/if}}
      {{/if}}
      {{#if interests}}
        <strong>Member has expressed interest in:</strong>
        <table class="table">
          <thead>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
            <th>Room</th>
            <th>Venue</th>
            <th>Actions</th>
          </thead>
          <tbody>
            {{#each interests}}
              <tr>
                  <td><a href="/workshops/{{Workshop.id}}">{{Workshop.title}}</a></td>
                  <td>{{datetime start}}</td>
                  <td>{{time end}}</td>
                  <td>{{room}}</td>
                  <td>{{venue}}</td>
                  <td>
                    <a href="/api/member/{{../member.id}}/interest/accept/{{id}}" class="btn btn-xs btn-success"><i class="fa fa-check"></i></a>
                    <a href="/api/member/{{../member.id}}/interest/reject/{{id}}" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                  </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
  {{else}}
    <div class="alert alert-warning">
      This member is not complete, and is currently unable to sign up for
      workshops. Please complete their information below.
    </div>
  {{/if}}
{{/if}}

<div class="hidden-print">
    {{> forms/member member=member flags=flags admin=admin}}
</div>
