<h1>General Facilitator Information</h1>

<ul>
    <li>Workshops will be 1.5 or 3 hours in length and may be repeated 1-8 times throughout the conference.</li>
    <li>Workshops targetting youth and young adults are preferred, though each year a few chaperone workshops are selected.</li>
    <li>Preference is given towards workshops that demonstrate a high-level of interaction and share best practices/successful approaches.</li>
    <li>Preference is given towards workshops that require little to no audio/visual aids (i.e. projectors, microphones, TV/DVD Players etc.)</li>
    <li>Potential Facilitators <strong>must call Della (250-388-5522) before November 6th</strong> to verify their application before it is considered by the youth steering committee.</li>
    <li>Facilitators are informed if they were chosen to host a workshop: November 23, 2015</li>
    <li>You will also receive a confirmation email that you submitted an application. Be sure you receive that in your inbox or spam. If you did not please call Della (250-388-5522) to confirm we received your application.</li>
    <li>You will be required to fulfill a Criminal Record Check using <a target='blank' href='https://justice.gov.bc.ca/eCRC/'>this link</a> and access code <code>2LMZZ4EHQ6</code> for <strong>all representatives if your workshop is accepted</strong>. Please email us <a href="mailto:govcoordinator@bcaafc.com">govcoordinator@bcaafc.com</a> your <strong>full, legal names</strong> when done.</li>
</ul>

{{#if workshop.approved}}
    <div class="alert alert-success">
        Your workshop has been approved by our staff! Congratulations!
        <br>
        You may see the sessions you are assigned below, or visit your workshop
        page <a href="/workshops/{{workshop.id}}">here</a> to see what potential attendees see.
        <br>
        At this time you are no longer able to modify your workshop details.
        If you require any changes please contact us. A staff member can
        change them for you.
    </div>

    <h3>Sessions</h3>
    <table class="table">
        <thead>
            <tr><th>Start</th><th>End</th><th>Room</th><th>Venue</th><th>Capacity</th></tr>
        </thead>
        <tbody>
            {{#each workshop.Sessions}}
                <tr>
                    <td>{{datetime start}}</td>
                    <td>{{datetime end}}</td>
                    <td>{{room}}</td>
                    <td>{{venue}}</td>
                    <td>{{Members.length}}/{{capacity}}</td>
                    {{#if ../admin}}
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-xs btn-primary" href="/account/workshop/session/{{id}}">
                                    <i class="fa fa-fw fa-edit"></i>
                                    Edit
                                </a>
                                <a class="btn btn-xs btn-danger" href="/api/session/delete/{{id}}" onclick="return confirm('Are you sure?')">
                                    <i class="fa fa-fw fa-trash"></i>
                                    Delete
                                </a>
                            </div>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            {{#if admin}}
                <tr>
                    <td colspan=6>
                        <a href="/account/workshop/session" class="btn btn-block btn-success">
                            <i class="fa fa-fw fa-plus"></i>
                            Create Session
                        </a>
                    </td>
                </tr>
            {{/if}}
        </tfoot>
    </table>

    {{#if admin}}
        {{> forms/workshop workshop=workshop flags=flags}}
    {{/if}}
{{else if workshop.verified}}
    <div class="alert alert-warning">
        Your workshop has been verified by our staff and is now to selection!
        You will be notified if you are approved.
        <br>
        At this time you are no longer able to modify your workshop details.
        If you require any changes please contact us. A staff member can
        change them for you.
        <br>
        Your workshop page may be seen <a href="/workshops/{{workshop.id}}">here</a>,
        but it cannot be interacted with and it not listed, since it is not approved.
    </div>
    {{#if admin}}
        {{> forms/workshop workshop=workshop flags=flags}}
    {{/if}}
{{else unless flags.facilitatorRegistration}}
    <div class="alert alert-danger">
        Unfortunately facilitator registration is closed. Perhaps next year?
    </div>
{{else}}
    {{> forms/workshop workshop=workshop flags=flags}}
{{/if}}
