{{#markdown}}
## General Facilitator Information


  1. Workshop Facilitator Applications close November 4, 2016.
  
  2. Workshops will be 1.5 or 3 hours in length and may be repeated.
  
  3. Workshops targeting youth and young adults are preferred, though each year a few chaperone workshops are selected.
  
  4. Preference is given to workshops that demonstrate a high-level of interaction and share best practices/successful approaches.
  
  5. Increased preference is given towards workshops that require little to no audio/visual aids (i.e. projectors, microphones, TV/DVD Players etc).
  
  6. Once you have completed the online application potential facilitators **must call Della at 250-388-5522 ext.210 before the deadline of November 4, 2016** to verify their application before it is considered by the youth steering committee.
  
  7. All Facilitators are required to provide proof of application or provide a current copy of Criminal Record Check with vulnerable sector check by November 4, 2016.
  
  8. Link to [Online CRC](https://justice.gov.bc.ca/eCRC/) Access Code: 2LMZZ4EHQ6
  
  9. Facilitators will be informed if they are chosen to host a workshop via email by November 30, 2016.
  
  10. Once selected facilitators will be contacted to determine a schedule and be provided with an agreement.
  
{{/markdown}}

{{#if workshop.approved}}
    <div class="alert alert-success">
        Your workshop has been approved by our staff! Congratulations!
        <br>
        You may see the sessions you are assigned below, or visit your workshop
        page <a href="/workshops/{{workshop.id}}">here</a> to see what potential attendees see.
        <br>
        At this time you are no longer able to modify your workshop details.
        If you require any changes please contact us. A staff member can
        change them for you.
    </div>

    <h3>Sessions</h3>
    <table class="table">
        <thead>
            <tr><th>Start</th><th>End</th><th>Room</th><th>Venue</th><th>Capacity</th></tr>
        </thead>
        <tbody>
            {{#each workshop.Sessions}}
                <tr>
                    <td>{{date start formatting='MM/DD/YYYY hh:mm A'}}</td>
                    <td>{{date end formatting='MM/DD/YYYY hh:mm A'}}</td>
                    <td>{{room}}</td>
                    <td>{{venue}}</td>
                    <td>{{Members.length}}/{{capacity}}</td>
                    {{#if ../admin}}
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-xs btn-primary" href="/account/workshop/{{../workshop.id}}/session/{{id}}">
                                    <i class="fa fa-fw fa-edit"></i>
                                    Edit
                                </a>
                                <a class="btn btn-xs btn-danger" href="/api/session/delete/{{id}}" onclick="return confirm('Are you sure?')">
                                    <i class="fa fa-fw fa-trash"></i>
                                    Delete
                                </a>
                            </div>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            {{#if admin}}
                <tr>
                    <td colspan=6>
                        <a href="/account/workshop/{{workshop.id}}/session" class="btn btn-block btn-success">
                            <i class="fa fa-fw fa-plus"></i>
                            Create Session
                        </a>
                    </td>
                </tr>
            {{/if}}
        </tfoot>
    </table>

    {{#if admin}}
        {{> forms/workshop workshop=workshop flags=flags new=new}}
    {{else}}
        {{#with workshop}}
            <div class="workshop row" style="page-break-after: always;">
                <div class="col-sm-12">
                    <hr>
                    <h2>A Review of your Submission:</h2>
                    <h3>{{title}}</h3>
                    <p>Hosted By: <strong>{{facilitators}}</strong></p>
                    <p>Affiliation: <strong>{{Account.affiliation}}</strong></p>
                </div>

                <div class="col-sm-12 description">
                    <h4>Description</h4>
                    <p>{{{description}}}</p>
                </div>

                <div class="col-sm-12 biography">
                    <h4>Biography</h4>
                    <p>{{{biography}}}</p>
                </div>

                <div class="col-sm-3 synopsis">
                    <h4>Synopsis</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Length:</strong>
                                </td><td>
                                    {{length}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Audience:</strong>
                                </td><td>
                                    {{#each audience}}
                                        {{this}}<br>
                                    {{/each}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Capacity:</strong>
                                </td><td>
                                    {{capacity}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Type:</strong>
                                </td><td>
                                    {{#each type}}
                                        {{this}}<br>
                                    {{/each}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Room:</strong>
                                </td><td>
                                    {{room}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-3 requirements">
                    <h4>Requirements</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Power:</strong>
                                </td><td>
                                    {{#if power}} <i class="fa fa-check"></i> {{else}} <i class="fa fa-times"></i> {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Projector:</strong>
                                </td><td>
                                    {{#if projector}} <i class="fa fa-check"></i> {{else}} <i class="fa fa-times"></i> {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Screen:</strong>
                                </td><td>
                                    {{#if screen}} <i class="fa fa-check"></i> {{else}} <i class="fa fa-times"></i> {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Microphone:</strong>
                                </td><td>
                                    {{#if microphone}} <i class="fa fa-check"></i> {{else}} <i class="fa fa-times"></i> {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Flipcharts:</strong>
                                </td><td>
                                    {{flipcharts}} ({{flipchartMarkers}} markers)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6 compensation">
                    <h4>Compensation</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Meals:</strong>
                                </td><td>
                                    {{#if meals}} <i class="fa fa-check"></i> {{else}} <i class="fa fa-times"></i> {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Accomodation:</strong>
                                </td><td>
                                    {{#if accomodation}} <i class="fa fa-check"></i> {{else}} <i class="fa fa-times"></i> {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Travel:</strong>
                                </td><td>
                                    {{travel}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Honorarium:</strong>
                                </td><td>
                                    {{honorarium}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12 interaction">
                    <h4>Notes</h4>
                    <p>{{#if notes}} {{notes}} {{else}} (No notes) {{/if}}</p>
                </div>

            </div>
        {{/with}}
    {{/if}}
{{else if workshop.verified}}
    <div class="alert alert-warning">
        Your workshop has been verified by our staff and is now to selection!
        You will be notified if you are approved.
        <br>
        At this time you are no longer able to modify your workshop details.
        If you require any changes please contact us. A staff member can
        change them for you.
        <br>
        Your workshop page may be seen <a href="/workshops/{{workshop.id}}">here</a>,
        but it cannot be interacted with and it not listed, since it is not approved.
    </div>
    {{#if admin}}
        {{> forms/workshop workshop=workshop flags=flags new=new}}
    {{/if}}
{{else unless flags.facilitatorRegistration}}
    <div class="alert alert-danger">
        Unfortunately facilitator registration is closed. Perhaps next year?
    </div>

    {{#if admin}}
        <div class="well">You're seeing this because you're an admin</div>
        {{> forms/workshop workshop=workshop flags=flags new=new}}
    {{/if}}
{{else}}
    {{> forms/workshop workshop=workshop flags=flags new=new}}
{{/if}}
