<div class="container marketing">
    <div id="key-dates" class="featurette">
        <h1>Key Dates</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Early Registration Fee Deadline ($125.00)</td>
                    <td>Friday, February 5, 2016</td>
                </tr>
                <tr>
                    <td>Regular Registration Fee ($175.00)</td>
                    <td>Friday, February 6 - Monday, March 21, 2016</td>
                </tr>
                <tr>
                    <td>Facilitator Applications Deadline</td>
                    <td>Friday, November 6, 2015</td>
                </tr>
                <tr>
                    <td>Facilitators Informed If Successful</td>
                    <td>Monday, November 23, 2015</td>
                </tr>
                <tr>
                    <td>Emcee, Keynote & Entertainment Application Deadline</td>
                    <td>Friday, January 22, 2016</td>
                </tr>
                <tr>
                    <td>Exhibitor Applications Deadline</td>
                    <td>Friday, January 29, 2016</td>
                </tr>
                <tr>
                    <td>Youth Talent Showcase Application Deadline</td>
                    <td>Friday, March 4, 2016</td>
                </tr>
                <tr>
                    <td>Honor an Aboriginal Youth Champion in Your Community Application Deadline</td>
                    <td>Friday, March 4, 2016</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr class="featurette-divider">

    <div id="day1" class="featurette">
        <h1>Conference Schedule</h1>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="featurette-heading">Day 1</h2>
                <h3>March 21st</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3>Registration</h3>
                <p class="lead">10:00am - 4:00pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <ul>
                    <li>Check in</li>
                    <li>Verify your details</li>
                    <li>Fill remaining workshop slots (optional!)</li>
                    <li>Get delegate bags</li>
                    <li>Meet new friends</li>
                </ul>
                <hr>
                <h3>Opening Ceremonies & Reception</h3>
                <p class="lead">6:00pm - 8:30pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <ul>
                    <li>Doors open at 5:00 pm.</li>
                    <li>Ceremony starts 6:00 pm.</li>
                </ul>
        </div>
        <div class="col-lg-6 text-center">
            {{img "img-rounded" "opening"}}
        </div>
    </div>

    <hr class="featurette-divider">

    <div id="day2" class="featurette text-right">
        <div class="row text-right">
            <div class="col-lg-12">
                <h2 class="featurette-heading">Day 2</h2>
                <h3>March 22nd</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 text-center">
                {{img "img-rounded" "workshop"}}
                <br style="display: block; margin: 100px;">
                {{img "img-rounded" "talent-show"}}
            </div>
            <div class="col-lg-6">
                <h3>Breakfast</h3>
                <p class="lead">7:00am - 8:30am</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>Before you start your busy day, drop in for breakfast.</p>
                <hr>
                <h3>Career and Education Fair</h3>
                <p class="lead">9:00am - 5:00pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>Explore post-secondary institutions, training centres, and possibile job opportunities. The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.</p>
                <hr>
                <h3>Workshop Sessions 1,2,3</h3>
                <p class="lead">9:00am - 12:30pm</p>
                <p class="lead">Various Locations</p>
                <p>Attend the workshops you chose after registering your group and submitting your payment.</p>
                <hr>
                <h3>Lunch</h3>
                <p class="lead">12:00pm - 1:30pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>Take a breather and grab a bite to eat.</p>
                <hr>
                <h3>Workshop Sessions 4,5,6</h3>
                <p class="lead">1:30pm - 5:00pm</p>
                <p class="lead">Various Locations</p>
                <p>Attend the workshops you chose after registering your group and submitting your payment.</p>
                <hr>
                <h3>Social Enterprise Event</h3>
                <p class="lead">8:00pm - 9:00pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>See some of our brightest social innovators pitch their bright ideas!</p>
                <hr>
                <h3>Youth Talent Showcase</h3>
                <p class="lead">9:00pm - 10:30pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>This is a fun-filled night and all delegates are invited. See some of our most talented youth performing!</p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">

    <div id="day3" class="featurette">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="featurette-heading">Day 3</h2>
                <h3>March 23rd</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Breakfast</h3>
            <p class="lead">7:00am - 8:30am</p>
            <p class="lead">Victoria Conference Centre</p>
            <p>Before you start your busy day, drop in for breakfast.</p>
            <hr>
            <h3>Career and Education Fair</h3>
            <p class="lead">9:00am - 5:00pm</p>
            <p class="lead">Victoria Conference Centre</p>
            <p>Explore post-secondary institutions, training centres, and possibile job opportunities. The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.</p>
            <hr>
            <h3>Workshop Sessions 7,8,9</h3>
            <p class="lead">9:00am - 12:30pm</p>
            <p class="lead">Various Locations</p>
            <p>Attend the workshops you chose after registering your group and submitting your payment.</p>
            <hr>
            <h3>Lunch</h3>
            <p class="lead">12:00pm - 1:30pm</p>
            <p class="lead">Victoria Conference Centre</p>
            <p>Take a breather and grab a bite to eat.</p>
            <hr>
            <h3>Workshop Sessions 10,11,12</h3>
            <p class="lead">1:30pm - 5:00pm</p>
            <p class="lead">Various Locations</p>
            <p>Attend the workshops you chose after registering your group and submitting your payment.</p>
            <hr>
            <h3>Youth Dance</h3>
            <p class="lead">7:00pm - 11:00pm</p>
            <p class="lead">Victoria Conference Centre</p>
            <p>Take some time to practice your favorite dance moves as you enjoy the night with your friends, old and new. Beats, Bass, and Melody included as well as a live performance from 7:45pm-8:30pm (Performer TBA!)</p>
            <p class="text-muted">Note: This is a <emph>strictly</emph> substance free dance that is limited to delegates only.    Youth must have their chaperones with them to attend.    Facilictators and exhibitors do not attend this event.</p>
        </div>
            <div class="col-lg-6 text-center">
                {{img "img-rounded" "workshop2"}}
                <br style="display: block; margin: 100px;">
                {{img "img-rounded" "dance"}}
            </div>
    </div>

    <hr class="featurette-divider">

    <div id="day4" class="featurette text-right">
        <div class="row text-right">
            <div class="col-lg-12">
                <h2>Day 4</h2>
                <h3>March 24th</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="text-align: center">
                {{img "img-rounded" "closing"}}
            </div>
            <div class="col-lg-6">
                <h3>Cultural Morning & Closing Ceremonies</h3>
                <p class="lead">9:00am - 12:00pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>The cultural morning is an opportunity to witness different cultural presentations.</p>
                <p>We will honour youth and present awards.</p>
                <p>Attending delegates will also be eligible for the Grand Prize Draw. (If they have completed their Exhibitor Passports!)</p>
            </div>
        </div>
    </div>
</div>
