<div class="parallax" style="height: {{#if height}}{{height}}{{else}}300px{{/if}};">
  <div style="background-image: url({{url}}); height: {{#if height}}{{height}}{{else}}300px{{/if}};"></div>
</div>
