<p>Hello {{affiliation}},</p>

<p>Your group member <strong>{{name}}</strong> was, unfortunately, removed from one of their workshops due to a cancellation.</p>

<p>
    <strong>Member:</strong> {{name}}<br>
    <strong>Workshop:</strong> {{workshop}}<br>
    <strong>Start:</strong> {{start}}<br>
    <strong>End:</strong> {{end}}<br>
</p>

<p>
    We encourage you (and/or the member) to seek a new workshop for this time frame or to enjoy the Career and Education fair at the Victoria Conference Center. You may browse <a href="https://gatheringourvoices.bcaafc.com">here</a> for replacement workshops.
</p>

{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<small>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432
</small>

<br>
<small>This email was sent by a program.</small>
