<div class="parallax" style="height: 900px;">
  <div style="background-image: url(/images/landing-page.jpg); height: 900px; text-align: center; color: white;">
    <img src="/logos/gov.png" style="max-width: 100%;"><br>
      <h1 class="slug">A National Aboriginal Youth Conference</h1><br>
      <h1 class="place">March 21-24, 2017, Kelowna, BC</h1><br>
      <span class="points">
          <a class="btn btn-lg btn-primary" onclick="$('html, body').animate({scrollTop: $('#timer').offset().top - 40}, 'slow');">
              <i class="fa fa-chevron-right"></i>
              Explore
          </a>
      </span>
  </div>
</div>


<div id="timer">
    <p class="lead text-center" style="padding-top: 30px;">
        Gathering Our Voices 2017 begins at the <strong>Delta Grand Okanagan Resort and Conference Centre</strong> in <br>
        <span id="countdown"></span>!
        {{#if flags.groupRegistration}}
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{memberCount}}" aria-valuemin="0" aria-valuemax="{{@config.capacity}}" style="width: {{percent memberCount @config.capacity}}%;">
                    {{memberCount}} / {{@config.capacity}} spots filled!
                </div>
            </div>
        {{/if}}
    </p>
    <script>
        var timer = countdown(
            new Date("{{@config.dates.start}}"),
            function (ts) {
                document.getElementById("countdown").innerHTML = ts.toHTML("strong");
            },
            countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS
        )
    </script>
</div>



{{#if flags.groupRegistration}}
    <p>
      <a href="/register" class="btn btn-block btn-lg btn-primary">
        Register now to apply to attendee, facilitate, volunteer, or exhibit!
      </a>
    </p>
{{else}}
    <div class="well">
        <h3>Registration is Open  -  New Dates and New Deadlines</h3>
        Early Registration deadline November 30, 2016
    </div>
    <div>
        <a class="btn btn-block btn-lg btn-primary" href="/register">Register now to apply to attendee, facilitate, volunteer, or exhibit!</a>
    </div>
{{/if}}

<div class="text-center">
  <p>Interact with us via:</p>
  <div class="btn-group">
    <a class="btn btn-info" style="background-color: #56ADEE" target="_blank" href="https://twitter.com/{{@config.social.twitter}}">
      <i class="fa fa-twitter"></i>
      Twitter
    </a>
    <a class="btn btn-info" style="background-color: #3A5795"  target="_blank" href="https://www.facebook.com/{{@config.social.facebook}}">
      <i class="fa fa-facebook"></i>
      Facebook
    </a>
    <a class="btn btn-info"  style="background-color: #DA4A38" target="_blank" href="{{@config.social.list}}">
      <i class="fa fa-envelope"></i>
      Mailing List
    </a>
  </div>
</div>

<hr class="featurette-divider">

{{#markdown}}
  ## Participate in the Action
  Get involved in interactive workshops and exciting shows
  with others from the community. You will have the opportunity
  to engage with your colleagues, mentors and Elders in a
  meaningful way.

  Looking to get more from GOV? You can take part in our Youth Talent
  Showcase and prove yourself or nominate an Indigenous Youth
  Champion who has made a difference in your community.

  <div class="text-center">
      <a class="btn btn-primary btn-block" target="_blank" href="/documents/registration.docx">
        Registration Package
      </a>
      <a class="btn btn-primary btn-block" target="_blank" href="/documents/honour.docx">
        Honour A Youth
      </a>
      <a class="btn btn-primary btn-block" target="_blank" href="/documents/talent.docx">
        Talent Showcase
      </a>
      <a class="btn btn-primary btn-block" target="_blank" href="/documents/poster.pdf">
        Poster
      </a>
      <a class="btn btn-primary btn-block" target="_blank" href="/documents/fundraising.pdf">
        Fundraising Help
      </a>
  </div>

  ## Learn from Valuable Mentors
  More than 50 different workshops will be offered over 4 days.
  Workshops will be grounded in cultural teachings and each delegate
  will have a chance to select from workshops in early February. Our goal
  is to provide youth with a unique experience and a chance to
  positively engage with each other.


  Workshop submissions are collected and reviewed by a panel of youth
  and selected to represent each of the four different areas. The panel
  considers: level of interaction, how the workshop is culturally based,
  and relevance to Indigenous youth. Full workshop descriptions will be
  released in early February. Youth will be able to select from a wide
  array of workshops for a diverse, learning experience.

  <a class="btn btn-block btn-primary" href="/workshops">Explore Workshops</a>

  ## Listen to Inspiring Leaders and Peers
  We are currently seeking the best and brightest Emcees, Entertainment
  and Keynote speakers to motivate, uplift and inspire Indigenous youth
  to make a better tomorrow.  If you are interested in being an Emcee,
  Entertainment or Keynote at this year’s conference, please see the
  application link below.


  In past years we were honoured to host J.R. LaRose, Dr. Evan Adams, Grand Chief
  Ed John, Grand Chief Stewart Phillip, Chief Jody Wilson-Raybould, Adrian Duke,
  Justin Rain, Dakota Brant, Waneek Horn-Miller, Deidri Jack, Mathew Strongeagle,
  Richard Peters, Theresa Point, Ta’Kaiya Blaney.

  <a class="btn btn-primary btn-block" target="_blank" href="/documents/emcee.docx">
    Call for Emcee
  </a>

  <a class="btn btn-primary btn-block" target="_blank" href="/documents/keynote.docx">
    Call for Keynote
  </a>

  <a class="btn btn-primary btn-block" target="_blank" href="/documents/entertainment.docx">
    Call for Entertainment
  </a>

  <a class="btn btn-primary btn-block" target="_blank" href="/documents/dj.docx">
    Call for DJ
  </a>

  ## Connect and Prepare for the Future
  A gathering of this size means an incredible opportunity to find new peers,
  employers, educators, teachers, Elders, and most of all, friends. A bustling
  career and education fair, an Elders lounge, and more will be ready for you
  to explore.


  Then, return to your community with newfound skills, a broader world view, and
  new friends to keep in touch with.

  {{> parallax url="/images/firefighter.jpg" height="60vh" }}
{{/markdown}}
