<div class="row">
    <p>
        Gathering Our Voices National Aboriginal Youth Conference, hosted by the BC
        Association of Aboriginal Friendship Centres and its Provincial Aboriginal Youth
        Council (PAYC), will be held in Victoria, BC in 2016 on Coast Salish territory. Since the
        event began, the goal for the conference has been simple: give youth the tools to
        work towards a better tomorrow by improving themselves and the world in which
        they live. This event is guided by the BCAAFC’s PAYC who sets the theme, selects
        workshops, and invites facilitators and guest speakers. Having youth at the center of
        the conference, from its inception to the delivery of the event itself, creates an
        authentic and relevant experience for all in attendance.
    </p>

    <div class="col-xs-12 text-center">
        <img src="/logos/host.png">
    </div>

    <p>
        The Event Gathering Our Voices National Aboriginal Youth Conference takes place in
        a different community each year. In 2016,the conference will be hosted at the
        Victoria conference Centre in Victoria, BC. Over the course of four days we will
        gather over 1,500 delegates together from across Canada to conduct ceremonies,
        host 50+ workshops and offer exciting ways to engage, inform, educate and
        entertain the youth.
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-huddle"}}}
        <h1>Investment Opportunities: Branding and Presentation Partners</h1>
    </div>

    <p>
        The success of the event has brought with it many opportunities
        for us to share the stage with likeminded partners wishing to
        engage with youth and contribute to improved lives for Aboriginal
        people throughout Canada.
    </p>
    <p>
        The BCAAFC will work to find a program that fits your investment
        priorities and organizational values. Gathering Our Voices National
        Aboriginal Youth Conference is an important event with
        opportunities for your organization to invest in Aboriginal
        youth. We will also extend invitations to your organization to
        attend events to share in the celebration.
    </p>

    <blockquote>
        These youth are not our future, they are our <strong>now</strong>. Young leaders,
        academics and change makers stand with talent, hard workers and ambitious
        thinkers. Our youth are amazing; we have to tell them.
    </blockquote>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-food"}}}
        <h2>$5,000/$50,000 Meal Support Presented by...</h2>
    </div>
    <p>
        In Indigenous culture any gathering or celebration would not be complete without
        the serving of food and GOV is the epitome of gathering and celebrating.
        Traditionally, food was a part of doing business, of taking care of those of our
        community who have traveled away from home. It is more than sustenance, it is a
        tool to make everyone feel a part of the gathering and make them comfortable.
        Meal service varies from GOV location to location. Where possible we will include
        social enterprise/social purpose catering companies and support local business
        through our event venues.
    </p>
    <p>
        Generally, meals include one dinner, two breakfasts and two lunches. Up to ten Meal
        Support Sponsors will be included at $5,000 each or exclusivity can be arranged for
        a $50,000 investment. All Meal Support Sponsors will be recognized with signage at
        all food service venues. All logos will appear with the quote “Gathering Our Voices
        would like to thank the following organizations for their support of our meal
        program.” Please provide your logo in colour and black and white 7 days in
        advance of GOV to ensure inclusion.
        <ul>
            <li>1 ticket to Closing Ceremonies for each $5,000 investment</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-dance"}}}
        <h2>$7,500 Dance Party Presented by...</h2>
    </div>
    <p>
        What music are kids listening to today? You can find out by attending one of the
        most popular events during Gathering Our Voices. One of the highlights of GOV is
        the Dance Party. The youth are very mindful and respectful and are eager to adhere
        to strict rules in order to attend this much anticipated event. Music, lights, dancing
        and, yes, ever present chaperones and security combine to make this event a night
        to remember.
    </p>
    <p>
        The MC will refer to the event using words selected by the presenting partner,
        “Welcome everybody to the Dance party presented by...”
    </p>
    <p>
        Signage provided by the presenting partner will be placed at two focal points
        (up to four signs) at the entrances to the dance party. Max dimensions 3’x6’ please
        (retractable banners preferred).
        <ul>
            <li>1 ticket to the Opening Ceremonies</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-appreciation"}}}
        <h2>$7,500 Staff/Volunteer Appreciation Presented by...</h2>
    </div>
    <p>
        35 staff and as many as 200 volunteers will be graciously acknowledged at events
        following GOV. Although we express our gratitude at the Closing Ceremonies, along
        with the audience of grateful youth, we have found it profoundly important to share
        a meal with these groups to debrief from a hard week of service to our youth.
        Stories of the impact of this work we have done together, observations of how
        procedures can be improved, ideas for new activities can all be shared informally
        over a meal.
    </p>
    <p>
        The sponsor of these events will be given the opportunity to make remarks at the
        appreciation events; signage, preferably retractable banner, provided by the
        sponsor will be displayed at the entrance to the events.
        <ul>
            <li>2 tickets to the Closing Ceremonies</li>
            <li>Tickets to Appreciation Events</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-volunteer"}}}
        <h2>$7,500 Volunteer Program Presented by...</h2>
    </div>
    <p>
        Gathering Our Voices event would not be possible without the generous support of
        the many community members who gather with us to host this important event.
        Many people forget the value of the gifts of time offered by this team of committed
        community volunteers. This year we will recruit 200 volunteers to work with our
        staff to deliver the many aspects of GOV.
    </p>
    <p>
        Signage provided by the presenting partner will be placed in the Volunteer Lounge
        and their logo placed on all orientation materials distributed to all volunteers.
        Max dimensions 3’x6’ please (retractable banners preferred). The Volunteer
        Coordinator will publically acknowledge the presenting partner in each orientation
        session.
        <ul>
            <li>1 ticket to the Opening Ceremonies</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-elders"}}}
        <h2>$10,000 Elders Lounge and Teaching Space</h2>
    </div>
    <p>
        Elders don’t bite. This is the message passed along by the BCAAFC Elders Council and
        local Elders in the workshop they offer each year at GOV. Throughout the event,
        youth will be encouraged to take time to sit and talk with Elders in the designated
        Elders Lounge area about whatever is on their mind. Arts & crafts will also be
        planned activities in this space. The Elders Lounge signage will include
        presenting partners’ logo and word mark as “presented by...”
    </p>
    <p>
        Signage provided by the presenting partner will be placed at one focal point in the
        Elders Lounge and also in the meeting room.
        Max dimensions 3’x6’ please (retractable banners preferred).
        <ul>
            <li>1 ticket to the Opening Ceremonies</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-morning"}}}
        <h2>$10,000 Cultural Morning and Closing Ceremonies Presented by...</h2>
    </div>
    <p>
        The sharing and exchange of cultural knowledge is an essential aspect of GOV. Two
        hours of cultural programming coordinated with local drum and dance groups
        ensures that this sharing and exchange of knowledge takes place and it instills pride
        amongst those in attendance. The MC will refer to the event using the name selected
        by the presenting partner “Today’s Cultural morning is presented by...”.
    </p>
    <p>
        Signage provided by the presenting partner will be placed at two focal points of the
        staging area (maximum dimensions: 3’x6’ each).
        <ul>
            <li>1 ticket to the Opening Ceremonies</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-sports"}}}
        <h2>$10,000 Great Sports Give Away Presented by...</h2>
        <h3>
            <a href="http://aboriginalsportbc.ca/">Aboriginal Sports, Recreation and Physical Activity Partners Council</a>
            & The Cowichan 2008 Legacy Project
        </h3>
    </div>
    <p>
        This element of our celebration addresses so many aspects of our mission. To
        promote health and wellness, each youth is presented with a gift, sports equipment,
        at the end of the Closing Ceremonies. Hundreds of soccer balls, footballs,
        basketballs, volleyballs and hockey sticks are stacked up and handed out to the
        youth as they leave the ceremony. A gift to remind them of the good times, lessons
        learned and the community that holds them in high esteem. It also keeps them
        active when they get home.
    </p>
    <p>
        Signage provided by the presenting partner will be placed at two focal points of the
        staging area (maximum dimensions: 3’x6’ each).
        <ul>
            <li>1 ticket to the Opening Ceremonies</li>
            <li>4-8 tickets to the Closing Ceremonies</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-career"}}}
        <h2>$10,000 Career and Education Fair</h2>
    </div>
    <p>
        Each year we provide opportunities for Post-secondary institutions, government
        agencies, non-profit organizations and other agencies with a mandate to connect
        with our youth to engage through exhibit booths. Youth are encouraged through
        a passport and stamp system to visit each booth (to be eligible for the Grand Prize
        Draw during the Closing Ceremonies).
    </p>
    <p>
        Signage provided by the presenting partner will be placed at two focal points (up
        to four signs) at the entrance to the Exhibitors Area. Max dimensions 3’x6’ please
         (retractable banners preferred).
        <ul>
            <li>1 ticket to the Opening Ceremonies</li>
            <li>One complimentary booth in the Exhibitors areas</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-site"}}}
        <h2>$10,000 Website/Social Media presented by...</h2>
    </div>
    <p>
        Information is communicated in so many different ways today. Where once we relied
        on posters going up in Friendship Centres, schools and band offices; today we can
        include Facebook, Twitter and Instagram as the basis of a standard communications
        strategy along with other communication formats.
    </p>
    <p>
        The sponsor of this package will receive additional recognition in each of the formats
        as well as logos on posted signage on our website and at GOV venues where links,
        hashtags and @twitter handles will be displayed.
        <ul>
            <li>2 tickets to the Opening Ceremonies</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-feast"}}}
        <h2>$15,000 Honour Feast presented by...</h2>
    </div>
    <p>
        This special event, designed to honour and appreciate Aboriginal youth, is very
        exclusive and by invitation only. Youth participants will feel the strength of the
        community that loves and supports them. We gather together and share a meal and
        have a private show of youth entertainers followed by heart felt words of
        encouragement, love and connectedness.
    </p>
    <p>
        Every member of the audience then stands to either accept a gift or stand in honour
        of their youth. The Feast is then closed with a crescendo of cultural celebration
        with a victory song or peace song to send the honoured youth back to the
        conference to join the masses feeling stronger and closer than ever before.
    </p>
    <p>
        Signage provided by the presenting partner will be placed at two focal points of the
        staging area (maximum dimensions: 3’x6’ each).
    </p>
    <p>
        Public acknowledgement will be tactfully included in this event designed to honour
        and hold up our youth.
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-talent"}}}
        <h2>$20,000 Youth Talent Showcase</h2>
    </div>
    <p>
        This event continues to represent everything we stand for. Youth and youth groups
        are given an opportunity to stand before an adoring crowd of fans and supporters
        and present their talent. Singers, dancers, musicians and performers take the stage.
    </p>
    <p>
        Professional lighting and sound technicians, an Artistic Director and Stage Manager
        will make this an experience like no other. The youth performers are given the
        opportunity of a lifetime to showcase their talents to one thousand adoring fans.
        It is an incredible confidence builder as it takes tremendous courage to perform on
        stage.
    </p>
    <p>
        Performances are uploaded to YouTube so that youth can share their performance
        with family and friends and the talent to date has been spectacular!
    </p>
    <p>
        Signage provided by the presenting partner will be placed at focal points of the
        venue entrances and will be noted by the MC’s in language approved by the
        presenting partner. “Tonight’s Youth Talent Showcase is presented by...”
        <ul>
            <li>2 tickets to the Opening Ceremonies</li>
            <li>2 tickets to the Talent Show</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-enterprise"}}}
        <h2>$20,000 / $40,000 Aboriginal Youth Social Enterprise Contest</h2>
    </div>
    <p>
        Aboriginal youth are finding creative ways to build a better future for themselves and
        their communities. Through social enterprise, Aboriginal youth can earn a living in a
        meaningful way while bringing a much needed service or product to their
        communities and/or environment. This contest, modeled after the popular CBC TV
         show Dragon’s Den, is designed to showcase Social Enterprises that Aboriginal
         youth are developing throughout BC and to encourage others to develop
         businesses that improve the quality of life in their communities. The contest will
         conclude with public presentations from winners at the Gathering Our Voices
         Aboriginal Youth Conference (GOV) in Prince George, BC.
    </p>
    <p>
        There is hope that some of the sponsors and participating organizations will want to
        further support some of the entrepreneurs’ efforts through mentoring, financial
        support, or helping them showcase their enterprises to a larger audience.
    </p>
    <p>
        2x $20,000 or 1 exclusive contest sponsor of $40,000.
    </p>
    <p>
        Contest Sponsors will have their logo displayed at entrances to the event (prefer
        retractable banner x 2, provided by the sponsor) as well as electronically on screens
        and will be acknowledged each time the contest is referenced; “Aboriginal Youth
        Social Enterprise Contest, presented by.....”. The sponsor will be invited to be
        photographed with the prize winners and the BCAAFC will permit the limited use of
        the photographs for the sponsors’ use. The prize sponsor will have the same tickets
        and photograph rights. Their logo will appear electronically on screens and will be
        used when referencing the prize; “Prizes provided by......”
        <ul>
            <li>2 tickets to the Opening Ceremonies</li>
            <li>6 tickets to the Talent Showcase/Social Enterprise Contest event</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-draw"}}}
        <h2>$20,000 Grand Prize Draw presented by the BC Association of Aboriginal Friendship Centres and...</h2>
    </div>
    <p>
        As an incentive to encourage youth to attend all of their workshops and visit all the
        exhibitor booths the BCAAFC introduced the Passport. The youth are given stamps
        for attending each of their workshops and also for visiting the exhibitor booths. A
        complete passport is then entered for prize draws done at the Closing Ceremonies.
        In addition to tablets and music devices, the grand prize is drawn for a lucky winner
        and their family or friends.
    </p>
    <p>
        The Grand Prize is a trip for four to one of three exciting vacations destination. The
        prize includes: airfare, accommodations, tickets and spending money to attend a
        Canucks game in Vancouver or visit Canada’s Wonderland in Toronto, Ontario
        or an amazing fishing trip off the coast of Haida Gwaii.
    </p>
    <p>
        A sign will be created with the rules and listing prizes. The sign will include the
        presenting partner’s logo along with the BCAAFC logo/word mark. This will be placed
        at the entrance to the Exhibitors area.
    </p>
    <p>
        Signage approved by the presenting partner will be placed on the draw box and
        used in signage for the winning photograph. The presenting partner will be given
        the opportunity to greet the winner and have their photo taken along with BCAAFC
        representatives. See photo rights section of Aboriginal Social Enterprise.
        <ul>
            <li>2 tickets to the Opening Ceremonies</li>
            <li>4-8 tickets to the Closing Ceremonies</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-opening"}}}
        <h2>$50,000 Opening Ceremonies Presented by...</h2>
    </div>
    <p>
        This first event is where the celebration becomes real for so many of our youth;
        seeing so many of their peers in one place all ready for anything. We gather
        together formerly and ceremonially to hear words of wisdom and encouragement
        by leaders from all levels of government - First Nations, Municipal, Provincial and
        Federal. This event is our highest profile event and generally sets the tone for the
        days to come. The Ceremony will include screens where the event title will be shown
        in a loop, “Gathering Our Voices 14th Aboriginal Youth Conference, 2016 Victoria,
        BC... Opening Ceremonies Presented by...” (logo and word mark of presenting partner).
    </p>
    <p>
        Signage provided by presenting partner will be placed at four focal points at
        entrances to the Ceremony and signage approved by the presenting partner will be
        placed on or near the buffet. 3’x6’ retractable banners preferred.
        <ul>
            <li>Up to 6 tickets to the Opening Ceremonies</li>
            <li>One complimentary booth in the exhibitor area</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "sponsors-partner"}}}
        <h2>$100,000 Conference Partner</h2>
    </div>
    <p>
        We have worked very hard to make this a must-attend event for the hundreds of
        youth and hundreds of chaperones. It would not be possible without our
        longstanding partnerships and investors.
    </p>
    <p>
        Conference Partners will be noted publically at the Opening Ceremonies, Youth
        Talent Showcase & Closing Ceremonies along with the BCAAFC and the Host
        Friendship Centre. Conference Partners’ logo will appear in the Program alongside
        the BCAAFC and Host Friendship Centre logo. Signage (provided by partner) will be
        placed at two focal points at entrances to the registration areas.
        3’x6’ please retractable banners preferred.
        <ul>
            <li>Up to 8 tickets to the Opening Ceremonies & Closing Ceremonies</li>
            <li>4 tickets to any other GOV programmed event</li>
            <li>Direct or deliver a facilitated workshop for youth attending GOV</li>
            <li>2 complimentary booths in the Exhibitor area</li>
        </ul>
    </p>

    <div class="col-xs-12 text-center">
        {{{img "img-fill img-rounded" "thank-you"}}}
        <h2>$250,000+ Conference Co-Host</h2>
    </div>
    <p>
        There is no greater gift that can be given than to be told that you have made a
        difference in a young person’s life. To hear joy as youth recount their week, to see a
        smile that you know won’t leave anytime soon and to be there for the requests for
        autographs and the exchange of hugs and high-fives. It all seems so simple, host a
         conference and have thousands of people attend, but the impact is nearly
         immeasurable.
    </p>
    <p>
        We know for some youth this event is the highlight of their year. For others it is a
        turning point in their career or academic journey. There are a few precious moments
         where life is chosen over suicide. We don’t talk about it often, but we know we are
         profoundly impacting people’s lives.
    </p>
    <p>
        It is for all these reasons we value the Gathering Our Voices Co-Host in the highest
        regard. As a Conference Co-Host your logo will appear on the delegate t-shirts of
        1500 youth, 200 - 300 chaperones, 200 volunteers, 50 volunteer security. Your logo
         will also appear on all documents and forms, anywhere the BCAAFC and host
         Friendship Centre logo appears (from the time of your investment forward,
         we cannot reprint documents or forms).
    </p>
    <p>
        Signage provided by the Co-Host will be placed at focal points at every GOV 2016
        event next to BCAAFC signage. Preference is for retractable banners. Co-branded
        banners may also be produced with approval by the Co-Hosting partner. MC’s will
        publically acknowledge the Co-Host every time the BCAAFC is acknowledged. This
        will take place at every GOV Event including; Opening & Closing Ceremonies,
        Honouring Feast, Youth Talent Showcase, Dance and Cultural Morning.
        <ul>
            <li>Up to 8 tickets to the Opening Ceremonies & Closing Ceremonies</li>
            <li>8 tickets to any other GOV programmed event</li>
            <li>Direct or deliver a facilitated workshop for youth attending GOV</li>
            <li>2 complimentary booths in the Exhibitor Area</li>
        </ul>
    </p>
</div>
