{{#with workshop}}
    {{#unless approved}}
        <div class="alert alert-warning">
            The workshop you are viewing is not currently approved for the final GOV'2016 schedule.
            <br>
            You were likely linked here by the potential facilitator, or are the potential facilitator.
            <br>
            If you were not, it may be currently being edited, moved, changed,
            or this may simply be a mistake on our end. So if you're seeing this
            and didn't expect to, please let us know!
        </div>
    {{/unless}}
    <div class="row">
        <h1>{{title}}</h1>
        <p class="lead">Hosted by: {{facilitators}}</p>
        <p>Category: {{category}}</p>
        <p>Allows: {{{label-list audience}}}</p>
        <p>Type: {{{label-list type}}}</p>
        <p>{{description}}</p>

        {{#each Sessions}}
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{datetime start}}-{{time end}} @ {{venue}}</span>
                </div>
                <div class="panel-body row">
                    <div class="col-xs-6">
                        <div><strong>Room:</strong> {{room}}</div>
                        <div><strong>Venue:</strong> {{venue}}</div>
                        <div><strong>Capacity:</strong> {{Members.length}}/{{capacity}}</div>
                        <div>
                            {{#if ../../account}}
                                <form action="/api/session/{{id}}/add" method="POST">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                        <select name="member" class="form-control">
                                            <option value="">Select a member...</option>
                                            {{#each ../../../account.Group.Members}}
                                                {{{member-option member=this workshop=../../../../workshop session=../../this}}}
                                            {{else}}
                                                <option disabled=true>Your group has no members!</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </form>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {{#if ../../account}}
                            <table class="table">
                                <thead>
                                    <tr><th>Attending</th><th></th></thead>
                                </thead>
                                <tbody>
                                    {{#each ../../../account.Group.Members}}
                                        {{#if-in-session member=this session=../this}}
                                            <tr>
                                                <td>{{name}}</td>
                                                <td><a class="btn btn-xs btn-danger" href="/api/session/{{../../../id}}/remove/{{id}}" onclick="return confirm('Are you sure?')">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                </a></td>
                                            </tr>
                                        {{/if-in-session}}
                                    {{else}}
                                        <tr><td colspan=2><emph>No members in your group attending.</emph></td></tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <script>
        $(document).ready(function () {
            $("select[name='member']").change(function () {
                var conflict = $(this).find(":selected").attr("conflict");
                if (confirm("Would you like to browse to the conflicting workshop?")) {
                    window.location = "/workshops/" + conflict;
                }
            });
        });
    </script>
{{else}}
	<div class="alert alert-warning">Workshop not found.</div>
{{/with}}

{{#if admin}}
<div class="row">
    <a class="btn btn-sm btn-info" href="/admin/manage/{{workshop.AccountId}}/workshop">
        <i class="fa fa-fw fa-steam"></i>
        Manage
    </a>
</div>
{{/if}}
