<form action='/api/group/{{group.id}}' method='POST' class="form-horizontal">
    {{#if group}}
        <input style="display: none;" name="_method" value="PUT">
        <legend>Update Group</legend>
    {{else}}
        <legend>Declare Group</legend>
    {{/if}}


    {{#form_select title="Affiliation Type" name="affiliationType" selected=group.affiliationType required=true}}
        <option value="">Choose...</option>
        <option value="Friendship Centre">Friendship Centre</option>
        <option value="Off-reserve">Off-reserve</option>
        <option value="On-reserve">On-reserve</option>
        <option value="MCFD or Delegated Agency">MCFD or Delegated Agency</option>
        <option value="Other">Other</option>
    {{/form_select}}
    {{form_input title="Youth In Care" name="youthInCare" type="number" value=group.youthInCare
        description="Each year the conference hosts a feast to honour Youth In Care. If some of this groups
                     delegates are or have been a youth in the care of the Ministry of Children and Family
                     Development or an Aboriginal Delegated Agency and would like to attend the feast, please
                     indicate below how many of your group will attend. We invite a support person to join the
                     YIC at this by invitation only event.  Please RSVP before early registration closes to ensure
                     your delegates/support persons a seat, however open seats are offered at GOV so always ask if
                     we can accommodate late registrations."}}
    {{form_input title="Youth In Care Support" name="youthInCareSupport" type="number" value=group.youthInCareSupport
        description="If any of the youth wish to bring a support person please indicate the number of
                     support persons here."}}


    {{#if group}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Update">
        </div>
    {{else}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Declare">
        </div>
    {{/if}}
</form>
