<form action='/api/member/{{member.id}}' method='POST' class="form-horizontal">
    {{#if member}}
        <input style="display: none;" name="_method" value="PUT">
        <legend>Update Existing Member</legend>
    {{else}}
        <legend>Declare New Member</legend>
    {{/if}}


    {{form_input title="Full Name" name="name" type="text"
        value=member.name required=true
        description="if you want to save a place holder for youth please put in <code>Member 1, Member 2, ...</code> placeholders can be used until you know which members are bringing; our registration coordinator will call to ensure you will be using these spaces at a later date."}}
    {{#form_select title="Member Type" name="type" selected=member.type required=true}}
        <option value="">Choose...</option>
        <option value="Youth">Youth (14-17)</option>
        <option value="Young Adult">Young Adult (18-24)</option>
        <option value="Young Chaperone">Young Chaperone (21-24)</option>
        <option value="Chaperone">Chaperone (24+)</option>
    {{/form_select}}
    {{#form_select title="Gender" name="gender" selected=member.gender}}
        <option value="">Choose...</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    {{/form_select}}
    {{form_input title="Birth Date" name="birthDate" value=(date member.birthDate)
        description="Should be <code>MM/DD/YYYY</code>."}}
    {{#form_select title="Background" name="background" selected=member.background
        description="<strong>Optional.</strong> If this is provided we will use it for statistics and reporting."}}
        <option value="">Choose...</option>
        <option value="Status First Nations">Status First Nations</option>
        <option value="Non-status First Nations">Non-status First Nations</option>
        <option value="Inuit">Inuit</option>
        <option value="Registered Métis">Registered Métis</option>
        <option value="Non-registered Métis">Non-registered Métis</option>
        <option value="Other Indigenous">Other Indigenous</option>
        <option value="Non-Aboriginal">Non-Aboriginal</option>
    {{/form_select}}

    {{form_input title="Phone Number" name="phone" type="text" value=member.phone
        description="<strong>Optional</strong>. If this member has a cellphone, please specify it here so we can contact them on-site if necessary."}}
    <a target="_blank" href="http://twilio.org"><img src="/img/twilio.png"></a>
    {{form_boolean title="" name="notifications" value=member.notifications
        description="<strong>Optional</strong>. If the above number is a cellphone we can notify the member during the event of their workshops and locations. <em>This service will be used sparingly and is provided for convience only.</em>"}}
    {{form_input title="Email Address" name="email" type="email" value=member.email
        description="<strong>Optional</strong>. If this is entered we will email this address if changes occur to workshops the workshops the member is enrolled in."}}

    <fieldset>
        <legend>Emergency Information</legend>
        {{form_input title="Contact Name" name="contactName" type="text" value=member.contactName}}
        {{form_input title="Contact Phone" name="contactPhone" type="text" value=member.contactPhone}}
        {{form_input title="Contact Relationship" name="contactRelation" type="text" value=member.contactRelation
            description="The contact's relationship with the member."}}
        {{form_input title="Medical Number" name="medicalNumber" type="text" value=member.medicalNumber}}
        {{#form_tags title="Allergies" name="allergies" type="text" description="<strong>You may leave this blank if not applicable.</strong>"}}
            {{#each member.allergies}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        {{/form_tags}}
        {{#form_tags title="Medical Conditions" name="conditions" type="text" description="<strong>You may leave this blank if not applicable.</strong>"}}
            {{#each member.conditions}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        {{/form_tags}}
    </fieldset>

    {{#if admin}}
        {{#form_select title="Cost" name="cost" type="number" selected=member.cost description="Admin-only field." required=true}}
            <option value=175>$175 - Regular</option>
            <option value=125>$125 - Earlybird</option>
        {{/form_select}}
    {{/if}}

    {{#if member}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Update">
        </div>
    {{else}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Declare">
        </div>
    {{/if}}
</form>

<script>
    var YOUTH_MIN_BIRTH = "2002-03-21";
    var YOUTH_MAX_BIRTH = "1998-03-21";

    var YOUNG_ADULT_MIN_BIRTH = "1998-03-21";
    var YOUNG_ADULT_MAX_BIRTH = "1991-03-21";

    var YOUNG_CHAPERONE_MIN_BIRTH = "1995-03-21";
    var YOUNG_CHAPERONE_MAX_BIRTH = "1991-03-21";

    var CHAPERONE_MIN_BIRTH = "1991-03-21";
    var CHAPERONE_MAX_BIRTH = "1891-03-21";


    $(function () {
        var birthDate = $("input[name='birthDate']");
        var type = $("select[name='type']");
        birthDate.datepicker({
            format: "mm/dd/yyyy",
            startView: 2,
            todayHightlight: true,
            endDate: new Date(YOUTH_MIN_BIRTH),
            startDate: new Date(CHAPERONE_MAX_BIRTH),
        });

        type.change(function () {
            var newType = type.val();
            var end, start;

            if (newType === "Youth") {
                end = YOUTH_MIN_BIRTH;
                start = YOUTH_MAX_BIRTH;
            } else if (newType === "Young Adult") {
                end = YOUNG_ADULT_MIN_BIRTH;
                start = YOUNG_ADULT_MAX_BIRTH;
            } else if (newType === "Young Chaperone") {
                end = YOUNG_CHAPERONE_MIN_BIRTH;
                start = YOUNG_CHAPERONE_MAX_BIRTH;
            } else if (newType === "Chaperone") {
                end = CHAPERONE_MIN_BIRTH;
                start = CHAPERONE_MAX_BIRTH;
            }

            $(birthDate).datepicker('setStartDate', new Date(start));
            $(birthDate).datepicker('setEndDate', new Date(end));
            $(birthDate).datepicker('update');
        });
        type.change();
    });
</script>
