<form action='/api/payment/{{payment.id}}' method='POST' class="form-horizontal">
    {{#if payment}}
        <input style="display: none;" name="_method" value="PUT">
        <legend>Update Payment</legend>
    {{else}}
        <legend>Submit Payment</legend>
    {{/if}}


    {{form_input title="Date of Payment" name="date" type="text" value=(date payment.date)
        description="Should be <code>MM-DD-YYYY</code>."}}
    {{form_input title="Amount" name="amount" type="number"  value=payment.amount required=true
        description="The amount (in CAD) of the payment."}}
    {{form_input title="Number" name="number" type="text"  value=payment.number
        description="An optional cheque or invoice number. <strong>Not a credit card number etc.</strong>"}}
    {{#form_select title="Type" name="type" selected=payment.type required=true}}
        <option value="">Choose...</option>
        <option value="Cheque">Cheque</option>
        <option value="Money Order">Money Order</option>
        <option value="Invoice">Invoice</option>
        <option value="Credit Card">Credit Card</option>
        <option value="Paypal">Paypal</option>
        <option value="Waived">Waived</option>
    {{/form_select}}
    {{form_textarea title="Description" name="description" type="text" value=payment.description
        description="<strong>Do not put credit card numbers etc in here.</strong> This is shown to the account holder."}}


    {{#if payment}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Update">
        </div>
    {{else}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Submit">
        </div>
    {{/if}}
</form>


<script>
    $(function () {
        $("input[name='date']").datepicker({
            format: "mm/dd/yyyy",
            startView: 2,
        });
    });
</script>
