<form action='/api/session/{{session.id}}' method='POST' class="form-horizontal">
    {{#if session}}
        <input style="display: none;" name="_method" value="PUT">
        <legend>Update a Session</legend>
    {{else}}
        <legend>Create a Session</legend>
    {{/if}}


    {{{form_input title="Start Time" name="start" type="datetime" value=(datetime session.start)
        description="Should be <code>MM/DD/YYYY hh:mm AM</code>"}}}
    {{{form_input title="End Time" name="end" type="datetime" value=(datetime session.end)
        description="Should be <code>MM/DD/YYYY hh:mm AM</code>"}}}
    {{{form_input title="Room" name="room" type="text" value=session.room}}}
    {{{form_input title="Venue" name="venue" type="text" value=session.venue}}}
    {{{form_input title="Capacity" name="capacity" type="number" value=session.capacity}}}


    {{#if session}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Update Session">
        </div>
    {{else}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Create Session">
        </div>
    {{/if}}
</form>
