<form action='/api/volunteer/{{volunteer.id}}' method='POST' class="form-horizontal">
    {{#if volunteer}}
        <input style="display: none;" name="_method" value="PUT">
        <legend>Update Existing Volunteer Registration</legend>
    {{else}}
        <legend>Register as a Volunteer</legend>
    {{/if}}

    {{form_input title="Emergency Contact" name="emergencyName" type="text" value=volunteer.emergencyName required=true}}
    {{form_input title="Emergency Phone Number" name="emergencyPhone" type="text" value=volunteer.emergencyPhone required=true}}

    <h3>Your Availability & Schedule</h3>
    {{#unless flags.volunteerRegistration}}
        <div class="alert alert-warning">Modifying your availability is now locked, please contact the volunteer coordinator to change your schedule.</div>
    {{/unless}}


    <div id="availability" class="row">
      <div class="form-group col-sm-4">
          <table class="table">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Schedule</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan=3>{{date dayZeroDate formatting='ddd MM/DD/YYYY'}}</td>
                  <td>Morning</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayZeroMorning' value='{{volunteer.dayZeroMorning}}'>
                    {{else}}
                      {{#if volunteer.dayZeroMorning}}
                        <span>{{volunteer.dayZeroMorning}}</span>
                      {{else}}
                        <input type='checkbox' name='dayZeroMorning' {{#if volunteer.dayZeroMorning}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Afternoon</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayZeroAfternoon' value='{{volunteer.dayZeroAfternoon}}'>
                    {{else}}
                      {{#if volunteer.dayZeroAfternoon}}
                        <span>{{volunteer.dayZeroAfternoon}}</span>
                      {{else}}
                        <input type='checkbox' name='dayZeroAfternoon' {{#if volunteer.dayZeroAfternoon}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Evening</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayZeroEvening' value='{{volunteer.dayZeroEvening}}'>
                    {{else}}
                      {{#if volunteer.dayZeroEvening}}
                        <span>{{volunteer.dayZeroEvening}}</span>
                      {{else}}
                        <input type='checkbox' name='dayZeroEvening' {{#if volunteer.dayZeroEvening}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <!-- Day Break -->
                <tr>
                  <td rowspan=3>{{date dayOneDate formatting='ddd MM/DD/YYYY'}}</td>
                  <td>Morning</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayOneMorning' value='{{volunteer.dayOneMorning}}'>
                    {{else}}
                      {{#if volunteer.dayOneMorning}}
                        <span>{{volunteer.dayOneMorning}}</span>
                      {{else}}
                        <input type='checkbox' name='dayOneMorning' {{#if volunteer.dayOneMorning}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Afternoon</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayOneAfternoon' value='{{volunteer.dayOneAfternoon}}'>
                    {{else}}
                      {{#if volunteer.dayOneAfternoon}}
                        <span>{{volunteer.dayOneAfternoon}}</span>
                      {{else}}
                        <input type='checkbox' name='dayOneAfternoon' {{#if volunteer.dayOneAfternoon}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Evening</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayOneEvening' value='{{volunteer.dayOneEvening}}'>
                    {{else}}
                      {{#if volunteer.dayOneEvening}}
                        <span>{{volunteer.dayOneEvening}}</span>
                      {{else}}
                        <input type='checkbox' name='dayOneEvening' {{#if volunteer.dayOneEvening}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <!-- Day Break -->
                <tr>
                  <td rowspan=3>{{date dayTwoDate formatting='ddd MM/DD/YYYY'}}</td>
                  <td>Morning</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayTwoMorning' value='{{volunteer.dayTwoMorning}}'>
                    {{else}}
                      {{#if volunteer.dayTwoMorning}}
                        <span>{{volunteer.dayTwoMorning}}</span>
                      {{else}}
                        <input type='checkbox' name='dayTwoMorning' {{#if volunteer.dayTwoMorning}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Afternoon</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayTwoAfternoon' value='{{volunteer.dayTwoAfternoon}}'>
                    {{else}}
                      {{#if volunteer.dayTwoAfternoon}}
                        <span>{{volunteer.dayTwoAfternoon}}</span>
                      {{else}}
                        <input type='checkbox' name='dayTwoAfternoon' {{#if volunteer.dayTwoAfternoon}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Evening</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayTwoEvening' value='{{volunteer.dayTwoEvening}}'>
                    {{else}}
                      {{#if volunteer.dayTwoEvening}}
                        <span>{{volunteer.dayTwoEvening}}</span>
                      {{else}}
                        <input type='checkbox' name='dayTwoEvening' {{#if volunteer.dayTwoEvening}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <!-- Day Break -->
                <tr>
                  <td rowspan=3>{{date dayThreeDate formatting='ddd MM/DD/YYYY'}}</td>
                  <td>Morning</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayThreeMorning' value='{{volunteer.dayThreeMorning}}'>
                    {{else}}
                      {{#if volunteer.dayThreeMorning}}
                        <span>{{volunteer.dayThreeMorning}}</span>
                      {{else}}
                        <input type='checkbox' name='dayThreeMorning' {{#if volunteer.dayThreeMorning}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Afternoon</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayThreeAfternoon' value='{{volunteer.dayThreeAfternoon}}'>
                    {{else}}
                      {{#if volunteer.dayThreeAfternoon}}
                        <span>{{volunteer.dayThreeAfternoon}}</span>
                      {{else}}
                        <input type='checkbox' name='dayThreeAfternoon' {{#if volunteer.dayThreeAfternoon}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Evening</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayThreeEvening' value='{{volunteer.dayThreeEvening}}'>
                    {{else}}
                      {{#if volunteer.dayThreeEvening}}
                        <span>{{volunteer.dayThreeEvening}}</span>
                      {{else}}
                        <input type='checkbox' name='dayThreeEvening' {{#if volunteer.dayThreeEvening}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <!-- Day Break -->
                <tr>
                  <td rowspan=3>{{date dayFourDate formatting='ddd MM/DD/YYYY'}}</td>
                  <td>Morning</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayFourMorning' value='{{volunteer.dayFourMorning}}'>
                    {{else}}
                      {{#if volunteer.dayFourMorning}}
                        <span>{{volunteer.dayFourMorning}}</span>
                      {{else}}
                        <input type='checkbox' name='dayFourMorning' {{#if volunteer.dayFourMorning}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Afternoon</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayFourAfternoon' value='{{volunteer.dayFourAfternoon}}'>
                    {{else}}
                      {{#if volunteer.dayFourAfternoon}}
                        <span>{{volunteer.dayFourAfternoon}}</span>
                      {{else}}
                        <input type='checkbox' name='dayFourAfternoon' {{#if volunteer.dayFourAfternoon}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Evening</td>
                  <td>
                    {{#if admin}}
                      <input type='text' name='dayFourEvening' value='{{volunteer.dayFourEvening}}'>
                    {{else}}
                      {{#if volunteer.dayFourEvening}}
                        <span>{{volunteer.dayFourEvening}}</span>
                      {{else}}
                        <input type='checkbox' name='dayFourEvening' {{#if volunteer.dayFourEvening}} checked='checked' {{/if}} {{#unless flags.volunteerRegistration}} disabled {{/unless}}>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>


    <div class="form-group">
        <p class="lead">Shirt Size</p>
        <label>
            Extra Small
            <input type="radio" name="tshirt" value="Extra Small" required=true {{#eq volunteer.tshirt "Extra Small"}} checked=true {{/eq}}>
        </label>
        <label>
            Small
            <input type="radio" name="tshirt" value="Small" required=true {{#eq volunteer.tshirt "Small"}} checked=true {{/eq}}>
        </label>
        <label>
            Medium
            <input type="radio" name="tshirt" value="Medium" required=true {{#eq volunteer.tshirt "Medium"}} checked=true {{/eq}}>
        </label>
        <label>
            Large
            <input type="radio" name="tshirt" value="Large" required=true {{#eq volunteer.tshirt "Large"}} checked=true {{/eq}}>
        </label>
        <label>
            Extra Large
            <input type="radio" name="tshirt" value="Extra Large" required=true {{#eq volunteer.tshirt "Extra Large"}} checked=true {{/eq}}>
        </label>
    </div>

    {{form_textarea title="Previous Volunteer Experience" name="previousExperience" value=volunteer.previousExperience required=true}}

    {{form_textarea title="Areas of Interest" name="interests" value=volunteer.interests required=true}}

    {{form_textarea title="Other Notes" name="notes" value=volunteer.notes required=true}}

    {{form_input title="Criminal Record Check Applied for" name="applied" type="checkbox" value=volunteer.applied
        description="You will be required to fulfill a Criminal Record Check using <a target='blank' href='https://justice.gov.bc.ca/eCRC/'>this link</a> and access code <code>2LMZZ4EHQ6</code>. Please tick this when you are done so we know you have applied."}}

    {{#if volunteer}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type="submit" value="Update">
        </div>
    {{else}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type="submit" value="Apply">
        </div>
    {{/if}}
</form>
