<form action='/api/session/{{id}}' method='POST' class="form-horizontal">
    <input style="display: none;" name="_method" value="PUT">
    <legend>Update a Session</legend>


    {{{form_input title="Start Time" name="start" type="datetime" value=(datetime start)
        description="Should be <code>MM/DD/YYYY hh:mm AM</code>"}}}
    {{{form_input title="End Time" name="end" type="datetime" value=(datetime end)
        description="Should be <code>MM/DD/YYYY hh:mm AM</code>"}}}
    {{{form_input title="Room" name="room" type="text" value=room}}}
    {{{form_input title="Venue" name="venue" type="text" value=venue}}}
    {{{form_input title="Capcity" name="capacity" type="number" value=capacity}}}


    {{#if this}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Update Session">
        </div>
    {{else}}
        <div class="form-group">
            <input class="btn btn-block btn-primary" type='submit' value="Create Session">
        </div>
    {{/if}}
</form>
