<div class="container marketing">
    <div id="key-dates" class="featurette">
        <h1>Key Dates</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Deadline Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Early Registration Fee Deadline - $125.00</td>
                    <td>Friday, February 29, 2016</td>
                </tr>
                <tr>
                    <td>Regular Registration Fee - $175.00</td>
                    <td>Friday, February 29, 2016</td>
                </tr>
                <tr>
                    <td>Facilitator Applications Deadline</td>
                    <td>Friday, November 6, 2015</td>
                </tr>
                <tr>
                    <td>Facilitators Informed if Successful</td>
                    <td>Monday, November 23, 2015</td>
                </tr>
                <tr>
                    <td>Emcee, Keynote & Entertainment Application Deadline</td>
                    <td>Friday, January 22, 2016</td>
                </tr>
                <tr>
                    <td>Exhibitor Application Deadline</td>
                    <td>Friday, January 29, 2016</td>
                </tr>
                <tr>
                    <td><strong>Youth Talent Showcase Application Deadline</strong></td>
                    <td>Friday, March 4, 2016</td>
                </tr>
                <tr>
                    <td><strong>Honour an Aboriginal Youth Champion in Your Community Application Deadline</strong></td>
                    <td>Friday, March 4, 2016</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr class="featurette-divider">

    <div id="day1" class="featurette">
        <h1>Conference Schedule</h1>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="featurette-heading">Day 1</h2>
                <h3>March 21st</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3>Registration Day</h3>
                <p class="lead">10:00 am - 4:00 pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <ul>
                    <li>Check in</li>
                    <li>Verify your details</li>
                    <li>Fill remaining workshop slots (optional!)</li>
                    <li>Get delegate bags</li>
                    <li>Meet new friends</li>
                </ul>
                <hr>
                <h3>Opening Ceremonies and Premier's Awards for Aboringal Youth Excellence in Sport</h3>
                <p class="lead">5:00 pm - 7:00 pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <ul>
                    <li>Doors open at 4:00 pm</li>
                    <li>Ceremony starts 5:00 pm</li>
                    <li>Dinner Provided 7:00 pm</li>
                </ul>
        </div>
        <div class="col-lg-6 text-center">
            {{{img "img-rounded" "opening"}}}
        </div>
    </div>

    <hr class="featurette-divider">

    <div id="day2" class="featurette text-right">
        <div class="row text-right">
            <div class="col-lg-12">
                <h2 class="featurette-heading">Day 2</h2>
                <h3>March 22nd</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 text-center">
                {{{img "img-rounded" "workshop"}}}
                <br style="display: block; margin: 100px;">
                {{{img "img-rounded" "talent-show"}}}
            </div>
            <div class="col-lg-6">
                <h3>Breakfast Provided</h3>
                <p class="lead">7:00 am - 8:30 am</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>Before you start your busy day, drop in for breakfast.</p>
                <hr>
                <h3>Career and Education Fair</h3>
                <p class="lead">9:00 am - 5:00 pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>Explore post-secondary institutions, training centres, and possibile job opportunities. The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.</p>
                <hr>
                <h3>Workshop Sessions 1, 2, 3</h3>
                <p class="lead">9:00 am - 12:30 pm</p>
                <p class="lead">Various Locations</p>
                <p>Workshops that require the shuttle bus leave the Victoria Conferncer Centre at 8:30 am. Attend the workshops you chose after registering your group and submitting your payment.</p>
                <hr>
                <h3>Lunch Provided</h3>
                <p class="lead">12:00pm - 1:30pm</p>
                <p class="lead">Location TBC</p>
                <p>Take a breather and grab a bite to eat.</p>
                <hr>
                <h3>Workshop Session 5</h3>
                <p class="lead">1:30 pm - 3:00 pm</p>
                <p class="lead">Various Locations</p>
                <p>Attend the workshops you chose after registering your group and submitting your payment.</p>
                <hr>
                <h3>GOV – Nike N7 Move Moment</h3>
                <p class="lead">3:00 pm - 5:00 pm</p>
                <p class="lead">Victoria Conference Centre and transitioning to the front lawn of the Provincial Legislatures</p>
                <p>A conference wide FitNation workout sponsored by Nike N7. Help us make history with the first ever Nike N7 Move Moment in British Columbia.</p>
                <hr>
                <h3>Youth Talent Showcase</h3>
                <p class="lead">8:00 pm - 10:30 pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>This is a fun-filled night and all delegates are invited. See some of our most talented youth performing! *doors open at 7:00 pm</p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">

    <div id="day3" class="featurette">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="featurette-heading">Day 3</h2>
                <h3>March 23rd</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Breakfast Provided</h3>
            <p class="lead">7:00 am - 8:30 am</p>
            <p class="lead">Victoria Conference Centre</p>
            <p>Before you start your busy day, drop in for breakfast.</p>
            <hr>
            <h3>Career and Education Fair</h3>
            <p class="lead">9:00 am - 5:00 pm</p>
            <p class="lead">Victoria Conference Centre</p>
            <p>Explore post-secondary institutions, training centres, and possibile job opportunities. The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.</p>
            <hr>
            <h3>Workshop Sessions 7, 8, 9</h3>
            <p class="lead">9:00 am - 12:30 pm</p>
            <p class="lead">Various Locations</p>
            <p>Workshops that require the shuttle bus leave the Victoria Conferncer Centre at 8:30 am. Attend the workshops you chose after registering your group and submitting your payment.</p>
            <hr>
            <h3>Lunch Provided</h3>
            <p class="lead">12:00 pm - 1:30 pm</p>
            <p class="lead">Location TBC</p>
            <p>Take a breather and grab a bite to eat.</p>
            <hr>
            <h3>Workshop Sessions 10, 11, 12</h3>
            <p class="lead">1:30 pm - 5:00 pm</p>
            <p class="lead">Various Locations</p>
            <p>Workshops that require the shuttle bus leave the Victoria Conferncer Centre at 1:00 pm. Attend the workshops you chose after registering your group and submitting your payment.</p>
            <hr>
            <h3>Youth Dance</h3>
            <p class="lead">7:00 pm - 11:00 pm</p>
            <p class="lead">Victoria Conference Centre</p>
            <p>Take some time to practice your favorite dance moves as you enjoy the night with your friends, old and new. Beats, Bass, and Melody included as well.</p>
            <p class="text-muted">Note: This is a <emph>strictly</emph> substance free dance that is limited to delegates only.    Youth must have their chaperones with them to attend.    Facilictators and exhibitors do not attend this event.</p>
        </div>
            <div class="col-lg-6 text-center">
                {{{img "img-rounded" "workshop2"}}}
                <br style="display: block; margin: 100px;">
                {{{img "img-rounded" "dance"}}}
            </div>
    </div>

    <hr class="featurette-divider">

    <div id="day4" class="featurette text-right">
        <div class="row text-right">
            <div class="col-lg-12">
                <h2>Day 4</h2>
                <h3>March 24th</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="text-align: center">
                {{{img "img-rounded" "closing"}}}
                 <br style="display: block; margin: 100px;">
                {{{img "img-rounded" "Totem"}}}
            </div>
            <div class="col-lg-6">
                <h3>Cultural Morning & Closing Ceremonies</h3>
                <p class="lead">9:00 am - 12:00 pm</p>
                <p class="lead">Victoria Conference Centre</p>
                <p>The cultural morning is an opportunity to witness different cultural presentations.</p>
                <p>We will honour youth and present awards.</p>
                <p>Youth delegates 14-24 will also be eligible for the Grand Prize Draw, if they have completed and sunmitted their Exhibitor Passports! Submitte Passports to teh BCAAFC Information Table</p>
                <br>
                <br>
                <hr>
                <br>
                <h3>Totem Raising Ceremony</h3>
                <p class="lead">12:45 pm - 3:00 pm</p>
                <p class="lead">Victoria Native Friendship Centre, 231 Regina Ave</p>
                <p>Come to the Victoria Native Friendship Centre and take part in raising a totem carved by indigenous youth under the direction of renowned Nuu-Chah-Nulth artist Morris Sutherland. Participants will put their hands on the ropes and pull to lift the 25-foot totem into place. The raising will be followed by feasting and ceremony to honour the carvers. This is the third of three totems, one representing each Indigenous Nation on Vancouver Island, to be raised at the Victoria Native Friendship Centre.</p>
            </div>
        </div>
    </div>
</div>
